.home-page {
  padding: 0 20px;
}

.home-page-header {
  display: grid;
  grid-template-columns: 60px 1fr 130px 30px;
  align-items: center;
  height: 80px;
}

.home-page-header-icon {
  width: 50px;
  height: 50px;
  /* margin-right: 15px; */
}

.home-page-icon-logout {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.home-page-header-username {
  font-size: 18px;
  font-weight: 700;
}

.home-page-header-address {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  margin-right: 5px;
}

.home-page-header-select {
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  padding: 0 10px;
  align-items: center;
  margin-right: 20px;
}

.home-page-balance-container {
  text-align: center;
}

.home-page-balance-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.home-page-balance {
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}

.home-page-asset-row {
  display: grid;
  grid-template-columns: 55px 110px 1fr;
  align-items: center;
  padding: 15px 0;
  color: black;
  text-decoration: none;
  border-bottom: 0.5px solid lightgray;
}

.home-page-asset-icon {
  width: 40px;
  height: 40px;
}

.home-page-asset-name {
  font-size: 18px;
  font-weight: 500;
}

.home-page-asset-amount {
  font-size: 22px;
  font-weight: 600;
  text-align: right;
}

.home-page-asset-usd {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: gray;
}

@media (max-width: 500px) {
}