.password-container {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.password-input {
  width: 200px;
  height: 26px;
  display: flex;
}

.password-enter-button {
  background-color: rgb(122, 170, 71);
  color: white;
  border-radius: 6px;
  border: 0px;
  width: 120px;
  height: 40px;
}

.password-enter-button:active {
  background-color: rgb(103, 143, 60);
}