.page-trade-to-earn {
    h2 {
        margin-top: 0;
    }
    .content-box {
        margin-bottom: 20px;
        padding: 20px;
        font-size: 16px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 0 #00000040;
        background: #ECE9E9CC;

        dl {
            margin: 6px;
            &.line {
                display: flex;

                dd {
                    margin: 0 0 0 0.5em;
                }
            }
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin: 10px 0 0;

            .icon-wrap {
                text-align: center;
                font-size: 20px;
                padding: 10px;
                color: #666;

                svg {
                    width: 20px;
                    height: 20px;
                }

                svg, path {
                    fill: #666;
                }
            }
        }
    }

    .content-title-wrap {
        display: flex;
        align-items: center;

        h3 {
            margin: 0;
            flex: 1;
            font-size: 22px;
        }

        .icon-wrap {
            font-size: 20px;
            padding: 10px;
            color: #666;
        }
    }
}