:root {
  --page-color: #F5F2F2;
  --section-color: rgb(83, 53, 4);
  --section-header-color: rgb(101, 70, 7);
  --item-color: rgb(32, 33, 37);
  --body-color: rgb(0, 0, 0);
  --header-color: rgb(162, 103, 9);
  --header-menu-color: rgb(117, 81, 11);
  --button-color: rgb(44, 86, 155);
  --button-hover-color: rgb(43, 101, 195);
  --gray-color: #D9D9D9;
  --link-color: rgb(98, 98, 216);
}

html {
  font-family: Inter;
  font-size: 110%;
  line-height: 25px;
}

body {
  background: var(--body-color);
  margin: 0px;
}

input {
  font-size: inherit;
  font-family: inherit;
  height: 50px;
  min-height: 50px;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 0 10px;
}

.input:disabled, input[disabled] {
  border: 1px solid lightgray;
  cursor: not-allowed;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  height: 40px;
  min-height: 40px;
  border-radius: 6px;
  border: 0px;
  padding: 5px 10px 5px 10px;
}

[data-lastpass-icon-root] { display: none !important; }


button {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--button-color);
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
  min-height: 40px;
  min-width: 80px;
}

.button:disabled, button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

select {
  font-size: inherit;
  font-family: inherit;
  height: 40px;
  border-radius: 6px;
  padding: 0 10px;
}

.select:disabled, select[disabled] {
  background-color: var(--page-color);
  cursor: not-allowed;
}

p {
  margin: 0;
}

a {
  color: var(--link-color);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(183, 191, 186);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(133, 146, 138);
}

/* app styles */

.app-container {
    position: relative;
  height: 100vh;
  max-width: 500px;
  margin: auto;
    background: url("../assets/inner_bg.png") no-repeat center 100%;
}

.app-page {
  height: 100vh;
  overflow-y: auto;
  /*background-color: var(--page-color);*/
}

.app-navbar {
    position: fixed;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    bottom: 0;
    /*transform: translate3d(-50%, 0, 0);*/
}

/* @media (max-width: 850px) {
  .app-content {
    grid-template-columns: 70px 1fr;
  }
} */

/* @media (max-width: 710px) {
  .app-content {
    grid-template-columns: 0px 1fr;
  }

  .app-content {
    overflow-y: visible;
  }
} */
