@import "../../../styles/theme";

.sg-price-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .sg-price {
        font-size: 22px;
        font-weight: bold;
        color: #053346;
    }

    .sg-price-changes {
        font-size: 22px;
        font-weight: bold;
        color: #1E772C;
    }

    .sg-yield-label {
        font-size: 17px;
        font-weight: bold;
        color: #053346;
    }

    .sg-yield {
        font-size: 17px;
        color: #053346;
    }
}

.spot-grid-page {
    padding-bottom: 30px;
    .radio-button {
        text-align: center;
    }

    h3 {
        font-size: 20px;
        color: $primary;
    }

    .ant-form-item-label {
        min-width: 100px;
    }

    .ant-row {
        padding: 0 20px;
    }
}

.bot-page-app-icon {
    width: 52px;
    height: 52px;
    margin: 0 auto;
    float: inline-start;
  }

.bot-page-app-name {
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
  }

.bot-page-app-name-bold {
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;    
  }

.bot-page-app-row {
    text-align: center;
    padding: 4px;
    color: black;
    text-decoration: none;
  }

.bot-page-app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
  }

.bot-page-head {
    font-size: 20px;
    font-weight: bold;
    color: #053346;
}