.mpa-page {
    .mpa-main-txt {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .mpa-tip {
        margin-top: 1em;
        font-size: 14px;
    }

    label {
        font-size: 20px;
    }
}
